<!doctype html>

<html>

<head>
  <title>{{page.title}}</title>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <script src='//cdnjs.cloudflare.com/ajax/libs/processing.js/1.4.1/processing-api.min.js'></script>

  <style>
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  </style>
</head>

<body>
  <!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand">
          <a href="#">{{page.title}}</a>
        </div>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href={{site.repo}}/blob/gh-pages/_posts/{{page.filename}}>Source Code</a></li>
          <li><a href={{site.repo}}/commits/gh-pages/_posts/{{page.filename}}>Revision History</a></li>
          <li><a href="//monks.co">Andrew Monks</a></li>
        </ul>
      </div>
    </div>
  </div>

  <canvas id='sketch'></canvas>
  <script id='script'>
  /*global window, document, Processing */
  var width = window.innerWidth;
  var height = window.innerHeight;
  var halfWidth = width / 2;
  var halfHeight = height / 2;

  function drawerSketch(processing) {
    'use strict';

    // set size
    processing.size(width, height);

    {{content}}
  }

  // attach the sketch function to the canvas
  var processingInstance = new Processing(document.getElementById('sketch'), drawerSketch);
  </script>
</body>

</html>
